@model hackaton_2019.Models.ConceptoDetalle
@using hackaton_2019.Models
@{
    Random rnd = new Random();
    //var tabla = (List)ViewBag.conceptosDetalles;
}
<div class="animated fadeIn">

    <!-- Widgets  -->
    <div class="row" style="padding-top:20px">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-drop"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span>Riego</span></div>
                                <div class="stat-heading">29 Febrero 2019</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-science"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span>Fertilizante</span></div>
                                <div class="stat-heading">29 Febrero 2019</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="@Url.Action("Index", "DetalleInversion")">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-7">
                                <i class="pe-7s-sun"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span>Soleado</span></div>
                                    <div class="stat-heading">27°</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <!-- /Widgets -->
    <div style="padding-bottom:20px;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#miModal">Agregar Concepto</button>
        <input type="button" class="btn btn-primary" value="Proyección" onclick="location.href='@Url.Action( "Index", "Proyecciones")'" />
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalCosechar">Cosechar</button>
    </div>
    <!--  Invest  -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Inversión </h4>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body">
                            <div id="traffic-chart" class="traffic-chart"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="progress-box progress-1">
                                <h4 class="por-title">Agua</h4>
                                <div class="por-txt">$96,930</div>
                                <div class="progress mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-box progress-2">
                                <h4 class="por-title">Nómina</h4>
                                <div class="por-txt">$18,600</div>
                                <div class="progress mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-box progress-2">
                                <h4 class="por-title">Fertilizante</h4>
                                <div class="por-txt">$53,260</div>
                                <div class="progress mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 24%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div> <!-- /.card-body -->
                    </div>
                </div> <!-- /.row -->
                <div class="card-body"></div>
            </div>
        </div><!-- /# column -->
    </div>
    <!--  /invest -->
    <!-- Details -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Detalle historico de Inversión</h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Fecha</th>
                                        <th>Inversión</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.conceptosDetalles)
                                    {
                                        <tr>
                                            <td>  <span class="name">@item.Concepto</span> </td>
                                            <td> <span class="product">@item.FechaRegistro</span> </td>
                                            <td>$<span class="count">@item.Inversion</span></td>
                                        </tr>
                                    }
                                    @*<tr>
                                            <td>  <span class="name">Fertilizante</span> </td>
                                            <td> <span class="product">15 Marzo 2019</span> </td>
                                            <td>$<span class="count">@rnd.Next(0, 3000)</span></td>
                                        </tr>
                                        <tr>
                                            <td>  <span class="name">Riego</span> </td>
                                            <td> <span class="product">14 Marzo 2019</span> </td>
                                            <td>$<span class="count">@rnd.Next(0, 3000)</span></td>
                                        </tr>
                                        <tr>
                                            <td>  <span class="name">Fertilizante</span> </td>
                                            <td> <span class="product">13 Marzo 2019</span> </td>
                                            <td>$<span class="count">@rnd.Next(0, 3000)</span></td>
                                        </tr>
                                        <tr>
                                            <td>  <span class="name">Riego</span> </td>
                                            <td> <span class="product">12 Marzo 2019</span> </td>
                                            <td>$<span class="count">@rnd.Next(0, 3000)</span></td>
                                        </tr>
                                        <tr>
                                            <td>  <span class="name">Nómina</span> </td>
                                            <td> <span class="product">11 Marzo 2019</span> </td>
                                            <td>$<span class="count">@rnd.Next(0, 3000)</span></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
    <!-- /.details -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Concepto</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Concepto, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @{
                                        List<Concepto> list = new List<Concepto>();
                                        list = (List<Concepto>)Session["conceptos"];

                                        List<SelectListItem> selectListItems = new List<SelectListItem>();
                                        foreach (var item in list)
                                        {

                                            selectListItems.Add(new SelectListItem { Text = item.Nombre, Value = item.Nombre });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.Concepto, selectListItems, "Selecciona concepto")
                                    @Html.ValidationMessageFor(model => model.Concepto, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Fecha Registro", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.FechaRegistro, new { @class = "form-control datefield", @placeholder = "dd/mm/yyyy" })
                                    @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Inversion, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Inversion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Inversion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Agregar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                    @*@using (Html.BeginForm())
                        {
                        <div>
                            @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        }*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCosechar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalCosecharLabel">¿Desea cosechar este Cultivo?</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.Concepto)
                        @Html.HiddenFor(model => model.FechaRegistro)
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Inversion)

                        <div class="form-group">
                            @Html.Label("Fecha Cosecha", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.FechaRegistro, htmlAttributes: new  { @class = "form-control datefield", @placeholder = "dd/mm/yyyy" })
                                @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Kilos Cosechados", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.TextBox("KilosCosechados", "",new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Precio por Kilo", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.TextBox("PrecioKilo", "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" class="btn btn-primary" value="Aceptar" onclick="location.href='@Url.Action( "Cosechar", "DetalleInversion")'" />

                            </div>
                        </div>
                    </div>
                    }
                    @*@using (Html.BeginForm())
                        {
                        <div>
                            @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        }*@
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>

<script>
    jQuery(document).ready(function ($) {

        // will trigger when the document is ready
        //$('.datepicker').datepicker(); //Initialise any date pickers
        $(function () {
            $(".datefield").datepicker();
        });

        // invest chart
        if ($('#traffic-chart').length) {
            var chart = new Chartist.Line('#traffic-chart', {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
                series: [
                    [0, 1800, 3500, 2500, 2200, 0],
                    [0, 3300, 1500, 2000, 1500, 300],
                    [0, 1500, 2800, 1500, 3000, 500]
                ]
            }, {
                    low: 0,
                    showArea: true,
                    showLine: false,
                    showPoint: false,
                    fullWidth: true,
                    axisX: {
                        showGrid: true
                    }
                });

            chart.on('draw', function (data) {
                if (data.type === 'line' || data.type === 'area') {
                    data.element.animate({
                        d: {
                            begin: 500 * data.index,
                            dur: 1000,
                            from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                            to: data.path.clone().stringify(),
                            easing: Chartist.Svg.Easing.easeOutQuint
                        }
                    });
                }
            });
        }
    })
</script>